/* SITE HEADER */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.site-header .nav {
    display: flex;
    align-items: center;
}

.site-header .nav li:not(:last-child) {
    margin-right: 32px;       
}

.site-header .nav a {
    text-decoration: none;
    white-space: nowrap;
}

.site-header .nav .button {
    min-width: 0;
    padding: 8px 30px;
}

/* BOUTON */
.button {
    background: #000000;
    border-radius: 5px;
    padding: 20px 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    min-width: 200px;
    text-align: center;
}

/* CARD BLOG */
.card-blog .card__img {padding-top: 100%; position: relative;overflow: hidden;}
.card-blog .card__img img {
    position: absolute;    
    top: 0 ; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: center;
}
.card-blog .card__desc {
    padding: 24px;
    background-color: #fff;
}
.card-blog .desc__title {
    font-size: 20px;
    margin-bottom: 75px;
}