a {color: inherit;}

.collections {
  font-family: Poppins;
  background-color: #000;;
  padding: 50px 30px; 
}

.collections-title {
  font-family: Poppins;
  margin-bottom: 40px;
  font-size: 28px;
}

.collections-title-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #fff;
}

.collections-title-h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #717580;
}

.collections .flex {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
}
.collections .flex .card-blog {
  width: 20%;
}

.topContainer {
  text-align: center;
  margin-top: 20px;
}