---
layout: layouts/home.njk
---

<div class='collections'>
  <h1 class='collections-title'>Collections</h1>
  {% include "components/button.njk" %}
  {% include "components/button.njk" %}
  <div class='flex'>
    {% include "components/card-blog.njk" %}
  </div>
</div>