<div class='card-pricing'>
    <div class='card__img'>
        <img src='https://www.fillmurray.com/300/360' />
    </div>
    <div class='card__desc'>
        <h2 class='desc__title'>Title</h2>
        <h2 class='desc__subtitle'>Subtitle</h2>
        <h2 class='desc__feature'>Feature</h2>
        <a class='cta cta--seemore'>See more ></a>
    </div>
</div>