{% macro show(image, title, url) %}
<div class='card-blog'>
    <div class='card__img'>
        <img src='/img/{{ image }}'/>
    </div>
    <div class='card__desc'>
        <h2 class='desc__title'>{{ title }}</h2>
        <a class='button' href='{{ url }}' target='_blank'>Voir le projet></a>
    </div>
</div>
{% endmacro %}