<header class='site-header'>
    <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

    <ul class="nav">
        <li class="nav-item"><a href="https://dribbble.com/quentinmuhl">Dribbble</a></li>
        <li class="nav-item"><a href="https://www.behance.net/quentinmuhl">Behance</a></li>
        <li class="nav-item"><a href="http://instagram.com/quentinmuhl">Instagram</a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/quentinmuhl/">Linkedin</a></li>
        <li class="nav-item button"><a href="mailto:hello@quentinmuhl.fr">Contact</a></li>
    </ul>
</header>