<header class='site-header'>
    <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

    <ul class="nav">
        <li class="nav-item"><a href="#">Link 1</a></li>
        <li class="nav-item"><a href="#">Link 2</a></li>
        <li class="nav-item"><a href="#">Link 3</a></li>
        <li class="nav-item"><a href="#">Link 4</a></li>
        <li class="nav-item button"><a href="#">Sign up</a></li>
    </ul>
</header>